.form-layout {
    
    border: 1px solid rgb(113, 107, 107);
    padding: 10px;
    background-color: grey;
    
}
.result-container {
    height: 20rem;
    width: 35rem;
    border: 1px solid grey;
    //margin:10px;
    //padding: 10px;
   
    background-color: #ff5530;
    
}
.motivity-container {
    border: 1px solid grey;
    height: 20rem;
    width: 35rem;
    border-top-right-radius: 10rem;
    border-top-left-radius: 10rem;
    background-color: white;
    position: relative;
   
    
}
span {
    color: grey;
}
.image {
    height: 50px;
    width: 50px;
    border-radius: 30px;
    position: absolute;
    left:136px;
    top:3px;
}
h2 {
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ff5530;
    left:180px;
    top:7px;
    font-size: 24px;
}
.tagline {
    font-size: 14px;
    color: rgb(222, 89, 89);
    position: absolute;
    left:187px;
    top:37px;
}

.name {
    position: absolute;
    font-size: 20px;
    left: 159px;;
    top: 106px;;
}
.designation {
    position: absolute;
    left:176px;
    top:133px;
}
.phone-number {
    position: absolute;
    left:175px;
    top:185px;
}
.email {
    position: absolute;
    left:140px;
    bottom:84px;
}
.btn {
    height: 40px;
    width: 25rem;
    border-radius: 10px;
    border-width: 0px;
    background-color: #ff5530;
    color: white;
    position: absolute;
    left:73px;
    bottom:10px;
}
button {
    height: 40px;
    width: 5rem;
    background-color: #ff5530;
    color: white;
    border-radius: 10px;
    border-width: 0px;
    margin-top: 10px;
}
@media print {
    .form-layout {
        display: none !important;
    }
    .btn {
        display: none !important;
    }
}