.form-style {
    margin: 10px;
    margin-bottom: 15px;
}
input {
    height: 30px;
    width: 20rem;
   margin-top: 10px;  
}
button {
    margin: 10px;
    border-radius: 5px;
    background-color: blue;
    height: 40px;
    width: 130px;
    border-width: 0px;
    color: white;
}